<!DOCTYPE html>
<html>
<body>
    <div class="row">
 <div class="col-sm-4" style="background-color:lightgray;">
<p id="notice"><%= notice %></p>

    <li>

  
 
    <%= link_to 'Back', robs_path %>
  
</div>
</div>
       


</body>
</html> 