<!DOCTYPE html>
<html>
<body>
     <div class="row">
<<<<<<< HEAD
<<<<<<< HEAD
 <div class="col-sm-4" style="background-color:lightgray;">
=======
 <div class="col-sm-12" style="background-color:lightgray;">
>>>>>>> First commit
=======
 <div class="col-sm-4" style="background-color:lightgray;">
>>>>>>> 88c55615b3830e968aa1c697c60ba212a4bc9ecb
<p id="notice"><%= notice %></p>




<%= link_to 'Back', robs_path %>

</div></div>
</body>
</html>   
