<div class="row">
<<<<<<< HEAD
<<<<<<< HEAD
 <div class="col-sm-8" style="background-color:lightgray;">
=======
 <div class="col-sm-12" style="background-color:lightgray;">
>>>>>>> First commit
=======
 <div class="col-sm-8" style="background-color:lightgray;">
>>>>>>> 88c55615b3830e968aa1c697c60ba212a4bc9ecb
<p id="notice"><%= notice %></p>


<h1>Categories</h1>

<% for category in @categories do %>
    <%= link_to category.name, category %>
<% end %>

<%= link_to 'New Category', new_category_path %>
</div></div>